# Ignore Files
/.pytest_cache/
/__pycache__/
*.pyc*
*.DS_Store*
build/
dist/

# 로컬 개발 환경 파일 및 환경 변수 제외
.env*
.env.local

# 특정 에디터 및 IDE 관련 파일 제외
.vscode/
.idea/

# 시스템 및 임시 파일 제외
*.log
*.swp
.DS_Store